<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopulateFromJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9B2FC501DD3799000559140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9B2FC671DD3799000559140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9B2FC721DD3799000559140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
